.btn {
  @extend .text-secondary;
  @extend .font-weight-bold;
  @extend .w-100;

  display: inline-block !important;
  padding: 15px;
  background: theme-color("primary");
  border: 0 !important;
  border-radius: 15px !important;
}
