.btn {
  @extend .text-white;
  @extend .font-weight-bold;
  @extend .w-100;

  display: inline-block !important;
  padding: 15px;
  background: theme-color("secondary");
  border: 0 !important;
  border-radius: 15px !important;

  &.alternative {
    @extend .text-secondary;
    @extend .bg-white;
  }
}
