form {
  input {
    &[type="search"] {
      color: theme-color("primary");
      border: 3px solid theme-color("primary") !important;
      border-radius: 40px;
      height: 55px;

      &::placeholder {
        color: theme-color("primary");
      }
    }
  }

  .input-group-append {
    position: absolute;
    right: 2.5%;
    top: 50%;
    bottom: 50%;

    .input-group-text {
      border: 0;

      i {
        background: theme-color("secondary");
        color: theme-color("white") !important;
        padding: 10px;
        border-radius: 50%;
        font-size: 1.25rem;
      }
    }
  }
}
