form {
  input {
    &[type="search"] {
      color: #000;
      border: 3px solid theme-color("secondary") !important;
      border-radius: 40px !important;
      height: 55px;
      font-weight: 600;

      &::placeholder {
        color: #000;
      }
    }
  }

  .input-group-append {
    position: absolute;
    right: 2.5%;
    top: 50%;
    bottom: 50%;

    .input-group-text {
      border: 0;

      i {
        background: theme-color("secondary");
        color: #fff !important;
        padding: 10px;
        border-radius: 50%;
        font-size: 1.25rem;
      }
    }
  }
}
