form {
  &#search-form {
    padding: 0 0 30px 0;
    border-bottom: 3px solid theme-color("danger");
  }

  input {
    &[type="search"] {
      color: #000;
      border: 3px solid theme-color("primary") !important;
      border-radius: 40px !important;
      height: 55px;
      font-weight: 600;

      &::placeholder {
        color: #000;
      }
    }
  }

  .input-group-append {
    position: absolute;
    right: 2.5%;
    top: 50%;
    bottom: 50%;

    .input-group-text {
      border: 0;

      i {
        background: theme-color("danger");
        color: theme-color("white") !important;
        padding: 10px;
        border-radius: 50%;
        font-size: 1.25rem;
      }
    }
  }
}

#mc_embed_signup {
  width: 100% !important;
  font-family: "Rubik", Arial, sans-serif !important;
  font-size: 14px !important;

  h2 {
    font-size: 2rem !important;
  }

  form {
    padding: 0 !important;
  }

  legend {
    font-size: 14px;
    line-height: 30px;
  }

  .mc-field-group {
    width: 100% !important;
    padding-bottom: 0 !important;

    label {
      font-size: 1rem;
    }

    label,
    p {
      @extend .text-primary;
    }

    input,
    select {
      background: #f4f4f4;
      color: #000;
      border: 3px solid theme-color("danger") !important;
      border-radius: 40px;
      padding: 15px 0 !important;
      font-size: 1rem;
      font-weight: 600;

      &::placeholder {
        color: #000;
      }
    }

    input {
      &[type="checkbox"] {
        @extend .mr-3;

        display: inline-block;
        width: auto;
      }
    }

    select {
      width: 100% !important;
      text-indent: 2%;
      appearance: none;
    }

    .select-group-append {
      position: absolute;
      right: 5%;
      top: 60%;
      bottom: 0;

      i {
        color: theme-color("primary");
        font-size: 1.5rem;
      }
    }
  }

  fieldset {
    &.mc-field-group {
      min-height: 0 !important;
    }
  }

  #mce-success-response {
    color: theme-color("primary") !important;
  }

  div {
    &#mce-responses {
      margin: 0 !important;
    }

    &.response {
      font-size: 1rem !important;
    }
  }

  #mc-embedded-subscribe-form {
    div {
      &.mce_inline_error {
        margin: 1em 0 !important;
      }
    }
  }
}
