#site-footer {
  ul {
    &.menu {
      @extend .flex-column;

      list-style-type: none;

      li {
        @extend .mb-2;

        a {
          @extend .text-dark;
          @extend .font-weight-bold;

          border-bottom: 3px solid theme-color("info");
        }
      }
    }

    &.social {
      @extend .d-flex;
      @extend .justify-content-center;

      list-style-type: none;

      li {
        padding: 0 1rem;

        a {
          @extend .text-primary;

          i {
            font-size: 1.5rem;
          }
        }
      }
    }

    &#menu-footer-menu-2,
    &#menu-footer-menu-3 {
      li {
        a {
          border-bottom: 3px solid theme-color("secondary");
        }
      }
    }
  }
}
