#site-footer {
  .heading {
    border-bottom: 3px solid theme-color("primary");
  }

  ul {
    &.menu {
      @extend .flex-column;

      list-style-type: none;

      li {
        @extend .mb-2;

        a {
          @extend .text-white;
          @extend .font-weight-bold;

          border-bottom: 3px solid theme-color("primary");
        }
      }
    }

    &.social {
      @extend .d-flex;
      @extend .justify-content-center;

      list-style-type: none;

      li {
        padding: 0 1rem;

        a {
          @extend .text-white;

          i {
            font-size: 1.5rem;
          }
        }
      }
    }

    &#menu-footer-menu-2,
    &#menu-footer-menu-3 {
      li {
        a {
          @extend .text-primary;
        }
      }
    }
  }

  .menu-footer-menu-2-container,
  .menu-footer-menu-3-container {
    @include media-breakpoint-up(lg) {
      width: 45%;
      display: inline-block;
    }
  }
}
