#site-footer {
  ul {
    &.menu {
      @extend .flex-column;

      li {
        a {
          @extend .text-dark;
          @extend .pb-3;

          border: 3px solid theme-color("info");
        }
      }
    }

    &.social {
      @extend .d-flex;
      @extend .justify-content-center;

      list-style-type: none;

      li {
        padding: 0 1rem;

        a {
          @extend .text-primary;

          i {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
