#site-header {
  button {
    &.navbar-toggler {
      i {
        padding-right: 1rem;
      }
    }
  }

  ul {
    li {
      a {
        @extend .font-weight-bold;

        @include media-breakpoint-down(md) {
          text-align: center;
          padding: 0.5rem 0;
        }
      }

      &.btn-link {
        @extend .btn;

        a {
          @extend .text-white;
        }
      }
    }

    &.social {
      @extend .d-flex;
      @extend .justify-content-center;

      list-style-type: none;

      li {
        padding: 0.5rem 1rem;

        a {
          @extend .text-secondary;

          i {
            font-size: 1.5rem;
          }
        }
      }
    }

    &#menu-header-menu-3 {
      padding-top: 1.5rem;
    }

    &#menu-header-menu-4 {
      @extend .d-flex;
      @extend .flex-column;
      @extend .text-center;

      list-style-type: none;

      li {
        padding: 0.5rem 0;
      }
    }
  }
}
