#site-header {
  button {
    &.navbar-toggler {
      i {
        padding-right: 1rem;
      }
    }
  }

  ul {
    list-style-type: none;

    li {
      a {
        @extend .font-weight-bold;
        @extend .text-white;

        @include media-breakpoint-down(md) {
          text-align: center;
          padding: 0.5rem 1rem;
        }
      }

      &.btn-link {
        @extend .btn;

        a {
          @extend .text-white;
        }
      }
    }

    &.social {
      @extend .d-flex;
      @extend .justify-content-center;

      list-style-type: none;

      li {
        padding: 0 1rem;

        a {
          @include media-breakpoint-up(lg) {
            color: theme-color("secondary") !important;
          }

          @include media-breakpoint-down(md) {
            color: theme-color("white") !important;
          }

          i {
            font-size: 1.5rem;
          }
        }
      }
    }

    &#menu-header-menu-3 {
      padding-top: 1.5rem;
    }

    &#menu-header-menu-4 {
      @extend .d-flex;
      @extend .flex-lg-row;
      @extend .flex-column;
      @extend .text-center;

      list-style-type: none;

      li {
        padding: 0.5rem 0;
      }
    }

    &#menu-header-menu-2 {
      display: flex;
      align-items: center;

      li {
        &:first-child {
          a {
            @include media-breakpoint-up(lg) {
              padding: 0.5rem 1rem;
            }
          }
        }
      }
    }
  }

  #bottom {
    @include media-breakpoint-up(lg) {
      background: theme-color("white");
    }

    @include media-breakpoint-down(md) {
      background: theme-color("secondary");
    }
  }
}
