#articles {
  .heading,
  form#search-form {
    border-bottom: 3px solid theme-color("info");
  }
}

#quizzes {
  .heading,
  form#search-form {
    border-bottom: 3px solid theme-color("success");
  }
}

.page,
.post {
  p {
    a {
      @extend .text-dark;

      border-bottom: 3px solid theme-color("secondary");
    }
  }

  &.article {
    p {
      a {
        border-bottom: 3px solid theme-color("info");
      }
    }
  }

  &.quiz {
    p {
      a {
        border-bottom: 3px solid theme-color("success");
      }
    }
  }

  ul {
    &.social {
      li {
        a {
          @extend .text-secondary;
        }
      }
    }
  }
}

#about {
  img {
    border-radius: 50%;
  }
}
