#articles {
  .heading {
    border-bottom: 3px solid theme-color("info");
  }
}

#quizzes {
  .heading {
    border-bottom: 3px solid theme-color("success");
  }
}

#about {
  img {
    border-radius: 50%;
  }
}
