#articles,
#quizzes {
  .heading,
  form#search-form {
    border-bottom: 3px solid theme-color("danger");
  }
}

#videos {
  .heading,
  form#search-form {
    border-bottom: 3px solid #fff;

    .btn {
      @extend .bg-white;
      @extend .text-danger;
    }
  }
}

.page,
.post {
  p {
    a {
      @extend .text-primary;

      border-bottom: 3px solid theme-color("danger");
    }
  }

  &.article {
    p {
      a {
        border-bottom: 3px solid theme-color("info");
      }
    }
  }

  &.quiz {
    p {
      a {
        border-bottom: 3px solid theme-color("success");
      }
    }
  }

  ul {
    &.social {
      li {
        a {
          @extend .text-secondary;
        }
      }
    }
  }
}

#about {
  img {
    border-radius: 50%;
  }
}
