.article {
  .heading,
  form#search-form {
    border-bottom: 3px solid theme-color("info");
  }
}

.quiz {
  .heading,
  form#search-form {
    border-bottom: 3px solid theme-color("success");
  }
}

.grid {
  border-radius: 20px;
}

.ays-quiz-container {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
}

.contents {
  ol {
    li {
      a {
        border-bottom: 3px solid theme-color("info");
      }
    }
  }
}
