@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

.section {
  padding: 30px 0;
}

.small {
  font-size: 1.25rem;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

img {
  object-fit: cover;
  object-position: center;
}

h2 {
  &.heading {
    div.heading-background {
      padding: 15px;
      width: 200px;
    }
  }
}

p {
  line-height: 30px;
}

.grid {
  strong {
    padding: 7.5px;
  }
}

.heading {
  border-bottom: 3px solid theme-color("secondary");

  h2 {
    @include media-breakpoint-up(lg) {
      margin-top: 17px;
    }

    strong {
      padding: 15px;
    }
  }
}

ul {
  &.social {
    @extend .d-flex;
    @extend .justify-content-center;

    list-style-type: none;

    li {
      padding: 0 1rem;

      a {
        i {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.bg-light-blue {
  background: #e0e5ff;
}

.bg-light-red {
  background: #f7f0f0;
}

.bg-light-green {
  background: #f2faef;
}
