@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: theme-color("primary");
}

.section {
  padding: 30px 0;
}

.small {
  font-size: 1.25rem;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
