/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #ffc107,
  secondary: #160e3c,
  info: #4e4e4e,
  light: #f4f4f4,
  dark: #000,
  white: #fff
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
