/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #eccb41,
  secondary: #450101,
  success: #2eaa00,
  danger: #ec4147,
  warning: #eccb41,
  info: #09186c,
  light: #f5f0da,
  dark: #000,
  white: #fff
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
